#icon{
    width: 70px;
}

#navbar{
    background-color: #112033;
}

a h1, a h6{
    color: #ffffff;
}

main{
    padding-top: 3%;

}

#imagen img{
    width: 90%;
}

.container{
    background-color: #ffffff;
}

#banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
}

#texto-section{
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

.seccion{
    display: grid;
}

#calendario{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.current-day {
    background-color: #ff4800; /* Puedes ajustar el color según tus preferencias */
    font-weight: bold;
}

@media only screen and (max-width: 1020px) {
    #banner {
        grid-template-columns: 1fr; /* Cambia a una sola columna en lugar de dos */
    }

    .cards {
        grid-template-columns: 1fr; /* Cambia a una sola columna en lugar de tres */
    }
    #banner, .intro{
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no hay suficiente espacio */
    }
    #imagen img{
        width: 90%;
    }
}

@media only screen and (max-width: 728px) {
    #banner {
        grid-template-columns: 1fr; /* Cambia a una sola columna en lugar de dos */
    }

    .cards {
        grid-template-columns: 1fr; /* Cambia a una sola columna en lugar de tres */
    }
    #banner, .intro {
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no hay suficiente espacio */
    }
}
